@charset "UTF-8";

/* 全体のフォント設定とレイアウト */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

/* 画像を横に並べるコンテナ */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* 画像選択ラベルのスタイル */
.image-label {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; 
  width: 150px; /* 画像の幅に合わせて調整 */
  transition: transform 0.2s;
}

/* 画像フレームのスタイル */
.image-label img {
  border: 3px solid #ccc; /* 初期の枠線色をグレーに設定 */
}

/* 選択された画像のスタイル */
input[type="radio"]:checked + .image-label img {
  border-color: #f00; /* 選択時の枠線色を赤に設定 */
  transform: scale(1.05); /* 選択時の拡大を設定 */
}

/* ホバー時の画像の拡大効果 */
.image-label:hover img {
  transform: scale(1.05);
}

/* 画像説明文のスタイル */
.image-description {
  background: #fff0f0;
  color: #080808;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
