@charset "UTF-8";
/* 画像を横に並べるコンテナ */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* 画像選択ラベルのスタイル */
.image-label {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; 
  width: 150px;
  transition: transform 0.2s;
}

/* 画像フレームのスタイル */
.image-label img {
  border: 5px solid #ccc;
}

/* 選択された画像のスタイル */
input[type="radio"]:checked + .image-label img {
  border-color: rgb(155, 155, 155);
  transform: scale(1.05); 
}

/* ホバー時の画像の拡大効果 */
.image-label:hover img {
  transform: scale(1.05);
}

/* 画像説明文のスタイル */
.image-description {
  background: #fff0f0;
  color: #080808;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

/* テキストボックス */
.InputContainer {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-label {
    font-size: 14px;
}
