@charset "UTF-8";
/*ユーザー、ログイン共通*/
/* ログイン画面のコンテナ (共通) */
.login-container {
    width: 90%; /* パーセンテージで幅を設定し、レスポンシブ対応 */
    max-width: 350px; /* 最大幅を設定して、幅が大きくなりすぎないようにする */
    margin: 50px auto;
    padding: 15px;
    border: 2px solid #ffe4e1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgb(255, 218, 228);
    box-sizing: border-box; /* パディングとボーダーを幅に含める */
}

/* 小さな画面向けのメディアクエリ */
@media (max-width: 600px) {
    .login-container {
        width: 95%; /* 小さな画面では幅のパーセンテージを増やす */
        margin: 20px auto; /* 小さな画面ではマージンを調整 */
    }
}

/* 画像のコンテナ (共通) */
.image-container {
    margin-bottom: 0px;
}

.image-container img {
    width: 150px; 
    height: auto;
    border-radius: 50%;
}

/* 入力フィールド (共通) */
.input-field {
	font-family: 'M PLUS Rounded 1c', sans-serif;	
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* 共通ボタン*/
.log-button {
	font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(192, 139, 147);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.log-button:hover {
    background-color: rgb(167, 128, 135);
}

/* 新規登録リンク (ログイン) */
.new-registration-link {
	font-family: 'M PLUS Rounded 1c', sans-serif;
    display: block;
    margin-top: 20px;
    color: #0000EE;
    text-decoration: none;
}

.new-registration-link:hover {
    text-decoration: underline;
}

/* パスワード忘れメモ (ログイン) */
.password-reset-note {
	font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 10px;
    font-size: 0.7em;
    color: #555;
}

/* ラベル (ユーザー) */
.label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #555;
  display: block;
}
