@charset "UTF-8";
/*ユーザー、ログイン共通*/
/* ログイン画面のコンテナ (共通) */
.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #ffd1dc; 
}

/* 画像のコンテナ (共通) */
.image-container {
    margin-bottom: 0px;
}

.image-container img {
    width: 150px; 
    height: auto;
    border-radius: 50%;
}

/* 入力フィールド (共通) */
.input-field {
	font-family: 'M PLUS Rounded 1c', sans-serif;	
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* 共通ボタン*/
.log-button {
	font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(192, 139, 169);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.log-button:hover {
    background-color: rgb(186, 126, 160);
}

/* 新規登録リンク (ログイン) */
.new-registration-link {
	font-family: 'M PLUS Rounded 1c', sans-serif;
    display: block;
    margin-top: 20px;
    color: #0000EE;
    text-decoration: none;
}
.new-registration-link:hover {
    text-decoration: underline;
}

/* パスワード忘れメモ (ログイン) */
.password-reset-note {
	font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 10px;
    font-size: 0.7em;
    color: #555;
}
/* ラベル (ユーザー) */
.label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #555;
  display: block;
}
