<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>可愛いくてもドラゴン</title>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{${url} + 'css/character.css'}">
	<link rel="stylesheet" th:href="@{${url} + 'css/styles.css'}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap"/>
</head>
<body>
	<div class="game-container" method="post">
	<header>
		<h1>可愛いくてもドラゴン</h1>
		<form th:action="@{/logout}" method="post" style="display: inline;">
		<button class="bookmarkBtn">
		  <span class="IconContainer">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
			  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
			  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
			</svg>
		  </span>
		  <p class="text">ログアウト</p>
		</button>
		</form>
	</header>
	<main>
		<section id="game-area">
			<div class="background-image" style="background-image: url(/img/bg/bg.jpg)">
				<div class="dots-container" style="left: 50%; transform: translateX(-50%);">キャラクター選択</div>
			<form th:action="@{/toHelp}" method="post" th:object="${mmDTO}" class="form-container">    
				<div class="image-container">
					<input type="radio" th:field="*{imId}" id="image1" value="1" hidden />
					<label for="image1" class="image-label">
						<img th:src="@{${url} + 'img/mm/1.png'}" alt="Image 1">
						<div class="image-description">
							<p style="font-weight: bold; margin: 0;">グリーンどらごん</p>毒の霧が濃い。もう目が見えない、苦しい苦し、、<br>大地は腐敗し、生命は静かに終焉を迎える。
						</div>
					</label>

					<input type="radio" th:field="*{imId}" id="image2" value="2" hidden />
					<label for="image2" class="image-label">
						<img th:src="@{${url} + 'img/mm/2.png'}" alt="Image 2">
						<div class="image-description">
							<p style="font-weight: bold; margin: 0;">ダークどらごん</p>月が欠け闇の深淵と絶望が<br>この世を支配する時、権現する。
						</div>
					</label>

					<input type="radio" th:field="*{imId}" id="image3" value="3" hidden />
					<label for="image3" class="image-label">
						<img th:src="@{${url} + 'img/mm/3.png'}" alt="Image 3">
						<div class="image-description">
							<p style="font-weight: bold; margin: 0;">ブルーどらごん</p>息吹や羽ばたきにより周囲の万物を凍てつかせる<br>そして六花が咲き乱れる。
						</div>
					</label>

					<input type="radio" th:field="*{imId}" id="image4" value="4" hidden />
					<label for="image4" class="image-label">
						<img th:src="@{${url} + 'img/mm/4.png'}" alt="Image 4">
						<div class="image-description">
							<p style="font-weight: bold; margin: 0;">レッドどらごん</p>灼熱業火狂焔焦土<br>生きとし生けるものは等しく滅びる。
						</div>
					</label>

					<input type="radio" th:field="*{imId}" id="image5" value="5" hidden />
					<label for="image5" class="image-label">
						<img th:src="@{${url} + 'img/mm/5.png'}" alt="Image 5">
						<div class="image-description">
							<p style="font-weight: bold; margin: 0;">ぴかちゅうドラゴン</p>ねずみ型で電気を用いるポケモン。<br>別の世界からきたとか…
						</div>
					</label>
				</div>
				<!-- 入力セクション -->	
				<label for="name" class="form-label">なまえを入力してください</label>
				<div class="InputContainer">
					<input type="text" id="name" th:field ="*{name}" name="inputText" class="input" placeholder="1〜10文字のひらがな"/>
				</div>		
		</section>
		</main>
		<footer>
			<button type="submit" class="commonBtn">つぎへ　　</button>
		</footer>
	</form>
	</div>
</body>
</html>


