<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>可愛いけどドラゴン</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/endroll.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="game-container">
		<header>
			<h1>可愛いけどドラゴン</h1>
		</header>
		<main>
			<section id="game-area">
				<p>ここにエンドロールの内容が表示されます</p>
			</section>
		</main>
		<footer>
			<button class="commonBtn">タイトルへ</button>
		</footer>
	</div>
</body>
</html>