<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>可愛いくてもドラゴン</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{${url} + 'css/styles.css'}">		
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap"/>
</head>
<style>
	.box {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 15%;
		text-align: left;
		z-index: 2;
		font-size: 1.7vw;
		padding: 2vw;
		box-sizing: border-box;
	}
	.help-text {
	    position: absolute;
	    top: 0;
	    left: 50%;
	    transform: translateX(-50%);
	    width: 100%;
	    white-space: nowrap;
	    text-align: center;
	}
</style>
<body>
	<div class="game-container">
	<header>
		<h1>可愛いくてもドラゴン</h1>				
		<form th:action="@{/logout}" method="post" style="display: inline;">
		<button type="submit" class="bookmarkBtn">
		<span class="IconContainer">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
			  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
			  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
			</svg>
		 </span>
		 <p class="text">ログアウト</p>
		</button>
		</form>
	</header>
	<main>
		<section id="game-area">
			<div class="background-image" th:style="'background-image: url(' + ${url} + 'img/bg/bg.jpg);'">
				<div class="box">
					<div class="help-text">
						<p>ここにhelp内容が表示されます</p>
					</div>
			</div>
		</section>
	</main>
	<footer>
		<form th:action="@{/toStage }">
		<button class="commonBtn" type="submit">ステージ選択へ</button>
		</form>
	</footer>
	</div>
</body>
</html>