<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>可愛いけどドラゴン</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="help-container">
        <div class="help-box">
            <p>ヘルプ内容</p>
        </div>
        <button class="learn-more">ステージ選択</button>
		<button class="learn-more"> Learn More</button>
    </div>
</body>
</html>
