<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>可愛いけどドラゴン</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <base th:href="${url}">
    <link rel="stylesheet" href="css/stage.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div class="game-container">
		<header>
			<h1>可愛いけどドラゴン</h1>
			<button class="bookmarkBtn">
			  <span class="IconContainer">
				<svg viewBox="0 0 384 512" height="0.9em" class="icon">
				  <path
					d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
				  ></path>
				</svg>
			  </span>
			  <p class="text">ログアウト</p>
			</button>
		</header>
		<main>
			<section id="game-area" style="background:#e5c18d;">
				<div class="background-container" style="background-image: url('img/bg/map.jpg');">

				<p class="player-name">プレイヤー名</p>
				
				<div class="status-bar">
				    <!-- ステータスバー内にアイコンを配置 -->
				    <div class="icon-frame">
				        <img src="icon.png" alt="アイコン" class="status-icon" th:src="@{img/mm/1.png}">
				    </div>
					<!-- ステータス情報 -->
				    <div class="status">
				        <p class="monster-info">モンスター名　　レベル 1</p>
				        <div class="exp-bar-container">
				            <div class="exp-bar">
								
				                <div class="exp-progress" style="width: 10%;"></div> 
				            </div>
				            <div class="exp-text">EXP:50/100</div>
				        </div>
				    </div>

				</div>
				    <!-- 詳細ボタン -->
				    <button class="details-button">詳細</button>
		</section>
		</main>
		<footer>
			<button class="bookmarkBtn">
			  <span class="IconContainer">
				<svg viewBox="0 0 384 512" height="0.9em" class="icon">
				  <path
					d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
				  ></path>
				</svg>
			  </span>
			  <p class="text">ヘルプ</p>
			</button>
		</footer>
	</div>
</body>
</html>
