<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>可愛いけどドラゴン</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/status.css">
</head>
<body>
    <div class="container">
        <div class="monster-info">
            <h2>モンスター情報</h2>
            <p>ID: テキスト</p>
            <p>ステータス確認: テキスト</p>
            <img src="画像のURL" alt="モンスター画像">
            <p>モンスター情報: テキスト</p>
        </div>
        <form th:action="@{/stage}" method="get">
        <button class="btn-back">戻る</a>
    </div>
</body>
</html>
