<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>可愛いくてもドラゴン</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{${url} + 'css/style2.css'}">
    <link rel="stylesheet" th:href="@{${url} + 'css/styles.css'}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap"/>
</head>
<body>
    <div class="game-container">
    <header>
        <h1>可愛いくてもドラゴン</h1>
  		<form th:action="@{/logout}" method="post" style="display: inline;">
		<button type="submit" class="bookmarkBtn">
			<span class="IconContainer">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
			  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
			  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
			</svg>
            </span>
            <p class="text">ログアウト</p>
        </button>
  		</form>
    </header>
    <main>
		<section id="game-area">
                <div class="background-image" th:style="'background-image: url(' + ${url} + 'img/bg/bg.jpg);'"></div>
			<div class="center-box">
		        <div class="center-box_tape">
		        <div class="center-box_text">Status</div>     
		    </div>
		    <div class="left-images">
				<img th:src="@{${url} + ${mm.im.photo2}}" style="width: 100%; height: auto; margin-top: 30px;" alt="image" class="breathe-image">
		    </div>
			<div class="right-box" style="top: 1.5vw;">
			    <p>なまえ　：　[[${mm.mmName}]]</p>
				<p>レベル　：　Ｌｖ[[${mm.mmLevel}]]</p>
				<p>攻撃力　：　[[${mm.mmAttack}]]</p>
				<p>HP　：　[[${mm.mmHp}]]</p>
				<div style="display: flex; align-items: flex-start;">
				    <p style="margin-right: 1em; white-space: nowrap;">技　：</p>
				    <div>
				        <div th:each="action : ${actions}">
				            <p style="margin: 0.5; padding: 0;">
				                [[${action.techName}]] [[${action.techPoint}]]
				            </p>
				        </div>
				    </div>
				</div>
				<!-- EXP情報 -->
				<div class="exp-bar-container">
					<div id="num1" th:data-value="${mm.mmEx}"></div>
   					<div id="num2" th:data-value="${maxEx}"></div>
				    <div class="exp-bar">
				       <div class="exp-progress" id="mmEx"></div>
				    </div>
				    <p class="exp-text">EXP: [[${mm.mmEx}]]/[[${maxEx}]]</p>
				</div>	
				<script>
    				// HTMLから数値を取得
   					var num1 = parseFloat(document.getElementById('num1').getAttribute('data-value'));
    				var num2 = parseFloat(document.getElementById('num2').getAttribute('data-value'));
    				// 計算を実行
    				var result = (num1 / num2) * 100;
    				// 計算結果をwidthに設定
    				document.getElementById('mmEx').style.width = result + '%';
				</script>	
				    </div>
				     </div>
		</section>
    </main>
    <footer>
        <form th:action="@{/toStage}">
        <button type="submit" class="commonBtn">ステージ選択へ戻る</button>
        </form>
    </footer>
    </div>
</body>
</html>
