<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>可愛いけどドラゴン</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/story.css">
</head>
<body>
    <div class="story-container">
        <!-- 1. ストーリー表示領域 -->
        <div class="story-box">
        <p>ストーリー</p>
        </div>
        <!-- 2. キャラ選択へボタン -->
        <form th:action="@{/character}" method="get">
        <button  type="submit" class="character-select-button">キャラ選択へ</button>
    </div>
</body>
</html>
